.edit-recipe {
    position: absolute;    
    left: 0;
    right: 0;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;

    &__title,
    &__text {
        margin: 20px;
    }
}