.edit-recipe {
    position: absolute;    
    left: 0;
    right: 0;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 66%;
    }

    &__title,
    &__text {
        margin: 20px;
    }
}